<header>
  <ul class="title">
    <li>
      <h1>Kim Walta</h1>
      <h2>Design &amp; Development</h2>
    </li>
  </ul>
  <nav>
    <ul>
      <li><a class="active" href="#">Work<span>•</span></a></li>
      <li><a class="jumplink" href="#email">Contact</a></li>
    </ul>
  </nav>
</header>